// Colors
$white: white;
$purple: #835afd;
$light-purple: #e559f9;
$light-gray: #a8a8b3;
$orange: #ea4335;


// Font styles
$poppins-400: 400 16px 'Poppins', sans-serif;
$poppins-700: 700 36px 'Poppins', sans-serif;
$raleway-400: 400 16px 'Raleway', sans-serif;
$raleway-700: 700 16px 'Raleway', sans-serif;